body {
    font-family: sans-serif;
    font-size: 14px;
}
.container {
    width: 1200px;
    /*height: 100px;
    border: #336699 1px solid;*/
    margin: 0 auto;
}
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #336699;
}
.logo img {
    height: 95px;
    margin-left: 15px;
}
.create button {
    color: #669933;
    border: none;
    background-color: #ffffff;
    margin-right: 15px;
    cursor: pointer;
}
.create button:active, button:focus {
    border: none;
}
#board {
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: 50px;
    /*display: flex;*/
    border: 1px solid #336699;
}
.modal-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.modal-window {
    width: 600px;
    height: 350px;
    box-shadow: 0 0 10px 3px #808080;
    background-color: #ffffff;
    border-radius: 5px;
}
.header_modal-window {
    position: relative;
    align-items: center;
    padding: 10px 15px 15px 15px;
    background-color: #336699;
    border-radius: 5px 5px 0 0;
}
.modal-window_text {
    display: block;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}
.header_modal-window i {
    position: absolute;
    top: 6px;
    right: 6px;
    color: #FF6600;
    cursor: pointer;
}
.options {
    width: 100%;
    height: 88%;
    box-shadow: inset 0 0 4px 5px #cccccc;
}
select {
    color: #929292;
    background-color: white;
    border-color: #336699;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 13px;
    height: 35px;
    border-radius: 3px;
    width: 187px;
    display: block;
}
.group_inputs_cardiolog {
    display: none;
}
input {
    width: 175px;
    height: 30px;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid #336699;
    color: #336699;
    padding-left: 10px;
}
input::placeholder {
    color: #929292;
    font-size: 13px;
}
textarea {
    width: 96%;
    margin: 15px 10px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #336699;
    color: #336699;
}
textarea::placeholder {
    color: #929292;
    font-size: 14px;
    padding-left: 5px;
}
.group_inputs_cardiolog textarea::placeholder {
    color: rgba(54, 108, 162, 0.45);
}
.group_inputs_cardiolog input::placeholder {
    color: rgba(54, 108, 162, 0.45);
}

.group_inputs_stomatolog {
    display: none;
}
.group_inputs_terapevt {
    display: none;
}
#empty {
    display: none;
    position: absolute;
    left: 45%;
    top: 50%;
}
.button_add {
    display: flex;
    justify-content: center;
    align-items: center;
}
#button_add {
    border: 1px solid #336699;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #336699;
    font-size: 20px;
    cursor: pointer;
    margin: -8px 37%;
}
#button_add:hover {
    border: 1px solid #ffffff;
    background-color: #336699;
    color: #ffffff;
}

.new-event {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    border-radius: 5px;
}
.new-event:hover {
    box-shadow: 0 0 0 3px #929292;;
    transition: 0.15s;
}
.new-event_fio {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
}
.new-event_doctor {
    color: #336699;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}
.new-event_more {
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    margin-top: 18px;
    background-color: transparent;
}
.new-event_more:hover {
    text-decoration: underline dashed;
}
.new-event_delete {
    color: #ffffff;
    font-size: 30px;
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: 0;
}
.window_more {
    margin-top: 10px;
    display: none;
}
.new-event_option {
    color: #ffffff;
    margin-left: 15px;
    margin-top: 3px;
}
.new-event_option span {
    font-style: italic;
    font-weight: 600;
    color: #336699;
}
.new-event > div > p {
    color: #575555;
    margin-left: 10px;
    margin-top: 3px;
}
.new-event > div > p >span {
    color: white;
    font-style: italic;
    font-weight: 600;
}
